/*! HTML5 Boilerplate v7.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*----- BASE STYLES -----*/


html {
  font-size: 16px;
}

body {
  background-color: #202322;
  color: #e2e3ed;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 100%;
}

figure {
  margin: 0;
}

img {
  width: 100%;
}

h1, 
h2,
h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.875em;
}

h2 span {
  display: block;
}

h3 {
  font-size: 1.125em;
}

p {
  font-size: 0.875em;
}

nav {
  font-size: 1.125em;
  width: 100%;
}

ul {
  display: flex;
  padding: 0;
  justify-content: space-around;
  width: 100%;
}

ul li {
  display: inline;
  font-weight: bold;
  list-style: none;
}

nav ul li a {
  text-transform: uppercase;
}

a {
  color: #e2e3ed;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}


/*----- GRID -----*/


.container {
  border: 1px solid blue;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0 auto;
  width: 90%;
}

main,
footer {
  border: 1px solid red;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

header .container,
.features .content-wrapper {
  justify-content: center;
}

.content-wrapper {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}


/*----- HEADER -----*/


header .container {
  padding-top: 15px;
}

header .content-wrapper {
  border-top: 3px solid yellow;
  width: 70%;
}


/*----- MAIN HOME -----*/


.hero-area {
  background-image: url('../img/hero-image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
}

.hero-area .container {
  padding-top: 50px;
}

.call-to-action {
  background-color: #527158;
  width: 100%;
}

.call-to-action .container {
  padding: 25px 0 50px 0;
}

.form-description h3,
.form h3 {
  padding-bottom: 15px;
}

.form-description p {
  padding-bottom: 35px;
}
 
input[type=email] {
  border: none;
  box-sizing: border-box;
  color: #2a423a;
  font-style: italic;
  padding: 20px 0;
  width: 100%;
}
 
input[type=button] {
  background-color: #2a423a;
  border: none;
  color: #e2e3ed;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  padding: 20px 0;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.features {
  background-image: url('../img/camping.jpg');
  background-position: center;
  background-size: cover;
  height: auto;
}

.features .container {
  padding: 50px 0 15px 0;
}

.features .content-wrapper {
  margin: auto;
  padding-top: 65px;
  text-align: center;
  width: 60%;
}

.features-items {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.features-icon {
  font-size: 3.75em;
  margin-bottom: 40px;
}

.features-description {
  height: 40%
}

.social-proof {
  align-items: center;
  background-color: #2a423a;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.social-proof .container {
  padding: 50px 0 45px 0;
}

.social-proof header {
  padding-bottom: 30px;
}

.social-proof article {
  height: 100%;
}

.social-proof article h3 {
  padding: 20px 0;
}


/*----- MAIN ABOUT -----*/


.mission {
  background-color: #527158;
}

.mission .container,
.contact-info .container {
  padding: 50px 0;
}

.mission .container h2 {
  width: 95%;
}

.mission .container p {
  padding-top: 15px;
}

.map {
  width: 100%;
}

.map figure{
  height: 0;
  padding-bottom: 80%;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.map iframe {
  left: 0;
  position: absolute;
  top: 0;
}

.contact-info {
  background-color: #2a423a;
  width: 100%;
}

.contact-info h3 {
  padding: 15px 0;
}


/*----- MAIN FAQ -----*/

.faq {
  background-color: #527158;
}

.faq .container {
  padding: 50px 0;
}

.faq .content-wrapper {
  align-items: flex-start;
  justify-content: space-between;
}

.q-and-a {
  padding-top: 45px;
}

.q-and-a h3 {
  padding-bottom: 10px; 
}


/*----- FOOTER ------*/


footer .content-wrapper {
  padding-top: 50px;
  text-align: center;
}

.address,
.social-media { 
  align-items: center;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
  padding-bottom: 50px;
}

.address h3,
.social-media h3 {
  padding-bottom: 15px;
  width: 100%;
}

.copyright {
  width: 100%;
}

 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /*Tablet styles here*/


  /*----- GRID -----*/


  .container {
    width: 83%;
  }

  nav,
  .features-items,
  .social-proof figure {
    width: 50%;
  }

  header .content-wrapper {
    width: 100%;
  }

  header figure {
    width: 30%;
  }

  .call-to-action .form,
  .call-to-action .form-description,
  .social-proof article,
  .mission p, 
  .general-info,
  .facilitator,
  .q-and-a {
    width: 45%;
  }

  .features .content-wrapper {
    width: 78%;
  }

  .social-proof header {
    width: 80%;
  }

  .map figure {
    padding-bottom: 50%
  }

  footer .address,
  footer .social-media {
    width: 40%;
  }


  /*----- FONT STYLES -----*/


  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.5em;
  }

  .q-and-a h3 {
    font-size: 0.875em;
  }

  p {
    font-size: 0.875em;
  }

  nav ul {
    justify-content: flex-end;
  }

  header .content-wrapper,
  .call-to-action .container,
  .social-proof .container,
  .mission .container,
  .contact-info .container,
  .faq .content-wrapper {
    justify-content: space-between;
  }

  .mission .container,
  .contact-info .container {
    align-items: flex-start;
  }

  nav ul li {
    padding-left: 40px;
  }
  
  .hero-area {
    height: 600px;
  }

  .call-to-action .container {
    align-items: flex-start;
    padding: 50px 0;
  }

  .call-to-action p {
    padding: 0;
  }

  input[type=email],
  input[type=button] {
    padding: 10px 0;
  }

  .features h2 span{
    display: inline;
  }

  .features .container {
    padding: 95px 0 45px 0;
  }

  .features .content-wrapper {
    padding-top: 35px;
  }

  .features-icon {
    margin-bottom: 30px;
  }

  .features-description {
    margin: 0 auto;
    padding: 0 40px;
  }

  .social-proof .content-wrapper {
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }

  .social-proof article h3 {
    padding-top: 0;
  }

  .social-proof .container,
  .mission .container,
  .contact-info .container,
  .faq .container {
    padding: 100px 0;
  }

  .q-and-a {
    padding-top: 40px;
  }

  .q-and-a p {
    padding-top: 20px;
  }

  footer .content-wrapper {
    align-items: flex-start;
    justify-content: space-around;
    padding-top: 100px;
    width: 78%;
  }

}

@media only screen and (min-width: 1200px) {
  /*Desktop styles here*/


  h1 {
    font-size: 3.75em;
    width: 70%;
  }

  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.875em;
  }

  p {
    font-size: 1.125em;
  }

  .container header {
    justify-content: flex-start;
  }

  .call-to-action .container {
    justify-content: space-around;
  }

  .call-to-action .form-description,
  .call-to-action .form {
    align-items: flex-start;
    width: 33%;
  }

  .features .container {
    padding: 100px 0 35px 0;
  }

  .features .content-wrapper {
    justify-content: space-between;
    padding-top: 100px;
    width: 90%;
  }

  .features-items {
    margin-bottom: 60px;
    width: 33%;
  }

  .features-icon {
    margin-bottom: 25px;
  }

  .features-description {
    padding: 0 50px;
  }

  .social-proof header {
    padding-bottom: 70px;
    width: 100%;
  }

  .social-proof article {
    padding: 0;
  }

  .mission header,
  .mission header h1,
  .contact-info header,
  .contact-info header h1 {
    width: 100%;
  }

  .mission header h1,
  .contact-info header h1 {
    font-size: 3em;
  }

  .q-and-a h3 {
    font-size: 1.125em;
  }

  footer .content-wrapper {
    justify-content: space-between;
  }

}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


